*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ert{
  display: flex;
   border: 2px solid black;
}
.ilk{
  height: 100vh;
  border: 2px solid red;
  width: 60%;
}
.iki{
  width: 39%;
}
.dere{
display: flex; 
justify-content: center;
align-items: center;
flex-wrap: wrap;
border: 5x solid black;
}
.son{
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  width: 400px;
  
}
.ytr{
  text-align: center;
}
p{
  text-align: center;
}
