*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ilk{
  height: 100vh;
display: inline-block;


}
.card{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5px;
  padding-bottom: 5px;
  
}